#network-button,
#bluetooth-button,
#night-mode-button,
#caffeine-button {
  min-height: 52px;
  border-radius: 16px;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#network-button,
#bluetooth-button {
  background-color: unset;
  padding: 0;
}

#night-mode-button,
#caffeine-button {
  background-color: var(--primary);
  padding: 0 10px;
}

#night-mode-button.disabled,
#caffeine-button.disabled {
  background-color: var(--surface);
  border-radius: 26px;
}

#network-status-button,
#network-menu-button,
#bluetooth-status-button,
#bluetooth-menu-button {
  background-color: var(--primary);
  padding: 0 8px;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#network-menu-button,
#bluetooth-menu-button {
  border-left: 1px solid var(--outline);
  min-width: 24px;
}

#network-menu-button:active,
#bluetooth-menu-button:active {
  border-radius: 0 26px 26px 0;
}

#network-status-button.disabled,
#network-menu-button.disabled,
#bluetooth-status-button.disabled,
#bluetooth-menu-button.disabled {
  background-color: var(--surface);
  border-radius: 26px 0 0 26px;
}

#network-menu-button.disabled,
#bluetooth-menu-button.disabled {
  border-left: 1px solid var(--surface-bright);
  border-radius: 0 26px 26px 0;
}

#network-status-button,
#bluetooth-status-button {
  border-radius: 16px 0 0 16px;
}

#network-menu-button,
#bluetooth-menu-button {
  border-radius: 0 16px 16px 0;
}

#network-icon,
#bluetooth-icon,
#night-mode-icon,
#caffeine-icon {
  color: var(--shadow);
  font-size: 24px;
}

#network-menu-label,
#bluetooth-menu-label {
  color: var(--shadow);
  font-size: 16px;
}

#network-label,
#bluetooth-label,
#night-mode-label,
#caffeine-label {
  color: var(--shadow);
  font-size: 14px;
  font-weight: bold;
}

#network-label.disabled,
#bluetooth-label.disabled,
#night-mode-label.disabled,
#caffeine-label.disabled,
#network-ssid.disabled,
#bluetooth-status.disabled,
#night-mode-status.disabled,
#caffeine-status.disabled,
#network-menu-label.disabled,
#bluetooth-menu-label.disabled,
#network-icon.disabled,
#bluetooth-icon.disabled,
#night-mode-icon.disabled,
#caffeine-icon.disabled {
  color: var(--outline);
}

#network-ssid,
#bluetooth-status,
#night-mode-status,
#caffeine-status {
  color: var(--surface-bright);
  font-size: 12px;
}