#network-button,
#bluetooth-button,
#night-mode-button,
#caffeine-button {
  min-height: var(--button-height);
  border-radius: var(--radius-md);
  transition: all var(--transition-normal) var(--transition-easing);
}

#network-button,
#bluetooth-button {
  background-color: unset;
  padding: 0;
}

#night-mode-button,
#caffeine-button {
  background-color: var(--primary);
  padding: 0 var(--padding-sm);
}

#night-mode-button.disabled,
#caffeine-button.disabled {
  background-color: var(--surface);
  border-radius: calc(var(--button-height) / 2);
}

#network-status-button,
#network-menu-button,
#bluetooth-status-button,
#bluetooth-menu-button {
  background-color: var(--primary);
  padding: 0 calc(var(--padding-sm) / 2);
  transition: all var(--transition-normal) var(--transition-easing);
}

#network-menu-button,
#bluetooth-menu-button {
  border-left: 1px solid var(--outline);
  min-width: var(--icon-size-lg);
}

#network-menu-button:active,
#bluetooth-menu-button:active {
  border-radius: 0 calc(var(--button-height) / 2) calc(var(--button-height) / 2) 0;
}

#network-status-button.disabled,
#network-menu-button.disabled,
#bluetooth-status-button.disabled,
#bluetooth-menu-button.disabled {
  background-color: var(--surface);
  border-radius: calc(var(--button-height) / 2) 0 0 calc(var(--button-height) / 2);
}

#network-menu-button.disabled,
#bluetooth-menu-button.disabled {
  border-left: 1px solid var(--surface-bright);
  border-radius: 0 calc(var(--button-height) / 2) calc(var(--button-height) / 2) 0;
}

#network-status-button,
#bluetooth-status-button {
  border-radius: var(--radius-md) 0 0 var(--radius-md);
}

#network-menu-button,
#bluetooth-menu-button {
  border-radius: 0 var(--radius-md) var(--radius-md) 0;
}

#network-icon,
#bluetooth-icon,
#night-mode-icon,
#caffeine-icon {
  color: var(--shadow);
  font-size: var(--icon-size-md);
}

#network-menu-label,
#bluetooth-menu-label {
  color: var(--shadow);
  font-size: var(--icon-size-sm);
}

#network-label,
#bluetooth-label,
#night-mode-label,
#caffeine-label {
  color: var(--shadow);
  font-size: 14px;
  font-weight: bold;
}

#network-label.disabled,
#bluetooth-label.disabled,
#night-mode-label.disabled,
#caffeine-label.disabled,
#network-ssid.disabled,
#bluetooth-status.disabled,
#night-mode-status.disabled,
#caffeine-status.disabled,
#network-menu-label.disabled,
#bluetooth-menu-label.disabled,
#network-icon.disabled,
#bluetooth-icon.disabled,
#night-mode-icon.disabled,
#caffeine-icon.disabled {
  color: var(--outline);
}

#network-ssid,
#bluetooth-status,
#night-mode-status,
#caffeine-status {
  color: var(--surface-bright);
  font-size: 12px;
}