:vars {
    --foreground: #e9e3ef;
    --background: #0f0d12;
    --cursor: #e9e3ef;
    --primary: #ccc0ec;
    --on-primary: #443b5f;
    --secondary: #cbc3dc;
    --on-secondary: #433d51;
    --tertiary: #ffdbf3;
    --on-tertiary: #6e4765;
    --surface: #0f0d12;
    --surface-bright: #2d2b34;
    --error: #f97386;
    --error-dim: #c45a69;
    --outline: #78747e;
    --shadow: #000000;
    --green: #2bb24b;
}
