:vars {
    --foreground: #e8e3f0;
    --background: #0e0e12;
    --cursor: #e8e3f0;
    --primary: #c8c1ee;
    --on-primary: #403c60;
    --secondary: #c8c3dc;
    --on-secondary: #403e52;
    --tertiary: #ffd6f9;
    --on-tertiary: #694667;
    --surface: #0e0e12;
    --surface-bright: #2c2b34;
    --error: #f97386;
    --error-dim: #e8667a;
    --outline: #77747e;
    --shadow: #000000;
    --green: #30b375;
}
