:vars {
  --foreground: #dde3ea;
  --background: #0e1419;
  --cursor: #dde3ea;
  --primary: #d7c866;
  --on-primary: #373100;
  --secondary: #d6bee5;
  --on-secondary: #3a2948;
  --tertiary: #9acdef;
  --on-tertiary: #00344b;
  --surface: #0e1419;
  --surface-bright: #333a3f;
  --error: #ffb4ab;
  --error-dim: #000000;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #86929c;
  --shadow: #000000;
  --red: #9ccaff;
  --red-dim: #000000;
  --green: #ffb59c;
  --green-dim: #000000;
  --yellow: #ffb1c0;
  --yellow-dim: #000000;
  --blue: #99d597;
  --blue-dim: #000000;
  --magenta: #72d6d9;
  --magenta-dim: #000000;
  --cyan: #e8c261;
  --cyan-dim: #000000;
  --white: #e8c261;
}
