:vars {
  --foreground: #f0dfd7;
  --background: #19120d;
  --cursor: #f0dfd7;
  --primary: #ffb786;
  --on-primary: #502400;
  --secondary: #e5bfa8;
  --on-secondary: #422b1b;
  --tertiary: #c9ca93;
  --on-tertiary: #31320a;
  --surface: #19120d;
  --surface-bright: #413731;
  --error: #ffb4ab;
  --error-dim: #000000;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #9f8d83;
  --shadow: #000000;
  --red: #ffb599;
  --red-dim: #000000;
  --green: #b7d085;
  --green-dim: #000000;
  --yellow: #dec56e;
  --yellow-dim: #000000;
  --blue: #cebdfe;
  --blue-dim: #000000;
  --magenta: #fcb0d5;
  --magenta-dim: #000000;
  --cyan: #84d5c4;
  --cyan-dim: #000000;
  --white: #82d3e0;
}
