:vars {
    --foreground: #e7e2ff;
    --background: #0e0c1b;
    --cursor: #e7e2ff;
    --primary: #c9ceff;
    --on-primary: #3b4379;
    --secondary: #c4caa9;
    --on-secondary: #3d432a;
    --tertiary: #f6ffc0;
    --on-tertiary: #586500;
    --surface: #0e0c1b;
    --surface-bright: #2b2849;
    --error: #fd6f85;
    --error-dim: #ed6278;
    --outline: #757293;
    --shadow: #000000;
    --green: #00b299;
}
