:vars {
  --foreground: #e7e0e8;
  --background: #151218;
  --cursor: #e7e0e8;
  --primary: #d4bbfc;
  --on-primary: #39255c;
  --secondary: #cdc2db;
  --on-secondary: #342d40;
  --tertiary: #f1b7c4;
  --on-tertiary: #4a252f;
  --surface: #151218;
  --surface-bright: #3b383e;
  --error: #ffb4ab;
  --error-dim: #000000;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #948f99;
  --shadow: #000000;
  --red: #ffb2b9;
  --red-dim: #000000;
  --green: #95d5a7;
  --green-dim: #000000;
  --yellow: #dec56e;
  --yellow-dim: #000000;
  --blue: #c9bfff;
  --blue-dim: #000000;
  --magenta: #e4b7f3;
  --magenta-dim: #000000;
  --cyan: #82d3e2;
  --cyan-dim: #000000;
  --white: #82d3e0;
}
