/* ── Power Menu Dropdown ─────────────────────────────── */
#power-menu-window {
    background-color: transparent;
}
#power-menu-wrapper {
    background-color: transparent;
}
#power-menu-icons {
    padding: 4px; 
}

/* ── icon buttons ── */
.power-icon-btn {
    border-radius: 12px;
    border: none;
    outline: none;
    box-shadow: none;
    background-image: none;
    text-shadow: none;
    
    margin: 0px;
    padding: 0px; 
    
    background-color: var(--shadow);
    color: var(--primary);
    
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.power-icon-btn label {
    font-size: 20px;
    color: var(--primary);
    transition: color 0.25s ease;
}

.power-icon-btn:hover {
    background-color: var(--primary);
    color: var(--shadow);
}
.power-icon-btn:hover label {
    color: var(--shadow);
}


/* Hover — подсветка как у кнопок в меню */
#button-bar:hover {
    background-color: var(--primary);
    color: var(--shadow);
}
#button-bar:hover #button-bar-label {
    background-color: var(--primary);
    color: var(--shadow);
}

#button-bar.power-active #button-bar-label {
    background-color: var(--primary);
    color: var(--shadow);
}